flask
requests
gunicorn
waitress
flask-cors
cloudinary
psycopg2-binary   # <-- Добавьте это
SQLAlchemy        # <-- Добавьте это
sqlalchemy-json   # <-- Добавьте это (для типа JSON в SQLAlchemy)
Flask-SQLAlchemy
